@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Comic Neue', cursive;
    font-weight: normal;
}

.main{
		height: 100vh;
		background-color: #d9d9d9;
		display: flex;
		justify-content: center;
		align-items: center;
}

.container{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	height: 500px;
	width: 700px;
	padding: 50px;
	background-color: white;
	
}

h1{
	font-size: 50px;
}

.form{
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	justify-content: space-evenly;
	 /* row-gap column gap */
	row-gap: 20px;
	column-gap: 70px;
	margin-top: 40px;
}



label{
	font-size: 20px;
	
}

.input{
	display: flex;
	flex-direction: column;
	width: 250px;
}


.input>input{
	background-color: #d9d9d9;
	padding: 10px;
    border-radius: 15px;
    border: 1px solid rgb(191, 191, 191);
    transition: 0.3s;
}

.input input:hover{
    transform: scale(1.03);
}




.input>p{
	text-align: center;
	background-color: #ffafaf;
}


.btn{
	margin-top: 70px;
	display: flex;
	flex-direction: row;
	column-gap: 20px;
	width: 100%;
	align-items: center;
    justify-content: center;
}

button,a{
    background-color:#E3E0E0;
    border:none;
    font-size: 25px;
    width: 30%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    border: 1px solid rgb(191, 191, 191);

  }
  


  button:hover, button:focus, a:hover{
    transform: scale(1.1);
    background-color:#d5d3d3fd;
  }


  a{
    color: black;
    text-decoration: none;
  }