*{
    margin: 0px;
    padding: 0px;
}

.hide{
    display: none;
}

.content{
    width: 100vw;
    height: 100vh;
    margin: 1%;
}

.perfil{
    background: #d9d9d9;
    height: 100%;
    width: 200px;
    padding: 10px;
}