*{
    font-family: 'Comic Neue', cursive; 
    margin: 0;
    padding: 0;
}
  
body {
    width: 100vw;
    height: 100vh;
    background: #d9d9d9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    /* background-image: url("/images/papel.jpg");
    background-repeat: no-repeat;
    background-size: cover; */

}
  
.login-box {
    width: 400px;
    height: 65%;
    background: #ffffff;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    
}
  
.login-box h2 {
    margin-bottom: 60px;
    font-weight: 1;
    font-size: 50px;
    
    
}
  
.user-box{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 70%;
}

.user-box input{
  background: #d9d9d9;
  border: none;
  padding: 5px;
}

.user-box label{
  margin-top: 20px;
}





.recuperacao{
  display: flex;
  justify-content: flex-end;
}

.btn{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

button{
  background-color:#E3E0E0;
  border:none;
  font-size: 30px;
  width: 60%;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

button:hover, button:focus{
  width: 70%;
  background-color:#d5d3d3fd;
}
  
a, p, label{
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.btnCad>p>a{
  text-decoration: none;
  font-weight: bold;
  
}
  
 
  

  
 
  