@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Comic Neue', cursive;
    font-weight: normal;
}

body{
    background: white;
    
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 20px 20px;
}

.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.moedas{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
    font-size: 2.5rem;
}

.moedas img{
    width: 50px;
}

.difficult{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

.btnSair button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 2.2rem;
    transition: 0.4s;
    padding: 5px;
}

.btnSair button img{
    width:80px;
}


.btnSair button:hover{ 
    transform: scale(1.04);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.238);
    outline: 1px solid rgba(0, 0, 0, 0.238);
    
}


.players{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    

    width: 100%;
}


.player1, .player2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    row-gap: 10px;
    font-size: 1.5em;
    width: 30%;
}

.player1 img , .player2 img{
    margin-top: 40px;
    margin-bottom: 50px;
    width: 300px;
}

.player1 input , .player2 input{
    width: 30px;
    height: 30px;
}




.premio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 30%;
}


.premio #vs{
    font-size: 4.5rem;
    color: #11d100;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: #000;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.premio h1, #valorPartida{
    font-size: 3rem;
}

.premio img{
    width: 70px;
}







