.fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
    display: none;
    
}

.modalTheme, .modalWord, .modalTip, .popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    max-width: 90%;
    max-height: 90%;
    background: white;
    padding: 30px 50px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    z-index: 6;
    display: flex;
    justify-content: center;
    
}

.title-words, .title-tips{ 
    display: flex;
}
.title-words>#subTitleTheme, .title-tips>#subTitleWord{ 
    margin-left: 5px;
    text-decoration: underline;
}



.countTheme, .countWord, .countTip{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    width: 70%;
}


.inputTheme,  .inputTip{
    width: 350px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
}

#formNewWord, #formNewTip, #formNewTheme{
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    gap: 12px;
}


.inputTheme>label , .inputWord>label , .inputTip>label{
    font-size: 20px;
}

.buttonTheme>button, .buttonWord>button, .buttonTip>button, .popupBtn>button {
    width: 100px;
}


.popup{
    width: 50%;
    height: 50%;
    align-items: center;
}

.popupContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popupContent>input{
    width: 90%;
    margin-bottom: 20px;
}

.popupContent>p{
    font-size: 20px;
    margin-bottom: 30px;
}
