*{
    margin: 0px;
    padding: 0px;
    font-family: 'Comic Neue', cursive;
    font-weight: normal;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d9d9d9;
}

.tudo{
    
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    height: 70%;
    background: white;
}

.tudo > h1{
    font-size: 40px;
}

.buttonNivel{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

button{
    background-color:#E3E0E0;
    font-size: 25px;
    transition: 0.2s;
    width: 180px;
    height: 40px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
button:hover{
    background-color:#c9c9c9;
    transform: scale(1.1);
}

.buttonNivel > button{
    border: 1px grey solid;
    font-weight: 600;
}

#btnVoltar{
    border: none;
    margin-top: 50px;
}



