@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Comic Neue', cursive;
    font-weight: normal;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d9d9d9;
}

.tudo{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 70%;
    background: white;
}

.tudo > h1{
    font-size: 40px;
}

.buttonNivel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


button{
    background-color:#E3E0E0;
    font-size: 25px;
    transition: 0.2s;
    width: 70%;

    cursor: pointer;
    
    padding: 5px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    border: 1px solid rgb(191, 191, 191);
    column-gap: 10px;

}
button:hover{
    background-color:#c9c9c9;
    transform: scale(1.1);
}


#btnVoltar{
    margin-top: 50px;
    width: 40%;
}

.buttonNivel p{
    margin-top: 10px;
    margin-bottom: 10px;
}



.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-size: 20px;
    column-gap: 5px;
}
