*{
    margin: 0px;
    padding: 0px;
    font-family: 'Comic Neue', cursive;
    font-weight: normal;
}


.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    border: 10px solid #d9d9d9;
    
}

.header{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 10px;
}

.moedas{
    display: flex;
    column-gap: 10px;
    flex-direction: row;
    align-items: center;
}

.timeAndTheme{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -30px;
}


.forca{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    margin-top: -50px;
}

.player1, .player2{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;

}


.contentKeyborad{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    width: 80%;
    margin-top: -10px;   
}


#keyboard{
    display: flex;
    width: 55%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}


.key {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #d9d9d9;
    margin: 3px;
    padding: 5px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    transition: 0.5s;
}

.key.disabled {
    border: 1px solid #d9d9d9;
    background-color: #ff000081;
    cursor: not-allowed;
}

.key.hit {
    border: 1px solid #d9d9d9;
    background-color: #00ff3772;
    cursor: not-allowed;    
}

.key:hover {
    transform: scale(1.1);

}

#hidden-word{
    display: flex;
}


.letter-box {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #ccc;
    margin: 2px;
    padding: 5px;
    font-size: 25px;
    text-align: center;
  }


  .Dica{
    display: flex;
    margin-top: 50px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }


  .btnDicas{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }

  .btnDicas button{
    background: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #d9d9d9;
    align-items: center;
    row-gap: 10px;
    cursor: pointer;
    transition: 0.5s;
  }

  .btnDicas button:hover{
    background: #d9d9d9;
    transform: scale(1.1);
  }

  .textDica{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px;
    background: #d9d9d970;
  }

  .footer{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    width: 100%;
    justify-content: space-around;
  }

  .footer button{
    background-color:#E3E0E0;
    padding: 10px;
    border:none;
    font-size: 24px;
    margin: 5px;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
 


.tooltip {
  position: absolute;
  background-color: #333333b9;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  top: -50px;
  left: 60%;
  transform: translateX(-90%);
  width: 150px;
}



