*{
    margin: 0px;
    padding: 0px;
    font-family: 'Comic Neue', cursive;
    font-weight: normal;
}

.content{
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    
}

.moedas{
    display: flex;
    flex-direction: row;

    
    padding: 20px;
}

.timeAndTheme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -50px;
}



.game {
    display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: row;
    
}

.left-player,
.right-player {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.left-player h2,
.right-player h2 {
    margin-bottom: 10px;
}

.hangman {
    width: 300px;
    height: 400px;
    background-color: #fff;
    border: 1px solid #000;
    margin-bottom: 20px;
}

.letters {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 20%;
}

.letters button {
	background-color: white;
	color: black;
	border: 2px solid black;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
	margin: 5px;
	padding: 10px;
	cursor: pointer;
	outline: none;
	transition: background-color 0.3s ease, color 0.3s ease;
	user-select: none;
}

.letters button.correct {
	background-color: green;
	color: white;
	border-color: green;
}

.letters button.incorrect {
	background-color: red;
	color: white;
	border-color: red;
}

.letters button.used {
	background-color: gray;
	color: white;
	border-color: gray;
	cursor: default;
}

.letters button.clicked {
    background-color: yellow;
    cursor: default;
  }
	
.dica{
    display: flex;
    width: 80%;
    margin: 40px;
    justify-content: space-around;
    flex-direction: row;
    
}


.dica>.textDica{
    /* visibility:hidden; */
    display: flex;
    justify-content: center;
    width: 60%;
   
    border-radius: 5px;
    border: 1px solid #000;
    padding: 10px;
    
}

.dica>.buttonDica{
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.word{
    margin: 10px;
    margin-bottom: 20px;
}

.footter{
    margin-bottom: 20px;
    margin-left: 100px;
}





.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    width: 300px;
    padding: 20px;
    text-align: center;
    margin: 200px auto;
  }
  
  .close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover {
    color: red;
  }